<h2 class="mb-5">Lista de Personas</h2>

<div class="text-end">
    <button class="btn btn-primary" routerLink="/">
        Registrar Persona
    </button>
</div>

<table class="table table-hove">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Numero de telefono</th>
            <th>Ciudad</th>
            <th>Pais</th>
            <th></th>
        </tr>
    </thead> 
    <tbody>
        @for(person of persons; track person.id){
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.numeroTelefono }}</td>
                <td>{{ person.ciudad }}</td>
                <td>{{ person.pais }}</td>
                <td class="text-end">
                    <div class="btn-group">
                        <button class="btn btn-primary me-2" [routerLink]="[person.id, 'edit']">
                            Editar
                        </button>
                        <button class="btn btn-danger" (click)="deletePerson(person)">
                            Eliminar
                        </button>
                    </div>
                </td>
            </tr>    
            }
    </tbody>   
</table>
